<nav class="nav">
    <div>
        <a href="/">
            <h1>Home page</h1>
        </a>
    </div>
    <ul>
        <li>
            <a href="/">
                <h2>Home</h2>
            </a>
        </li>
        <li>
            <a href="/about">
                <h2>About</h2>
            </a>
        </li>
        <li>
            <a href="/create">
                <h2>New Form</h2>
            </a>
        </li>
    </ul>
</nav>
<hr>